---
title: Terminal Pixel // Proudly Scottish Web Design
---

<div class="tagline">
	<span class="i-make">I Make</span>
	<span class="websites">Websites</span>
</div>
<div class="info-text">
	<h2>Fun</h2>
	<!-- <div class="big-icon">
		<span>a</span>
	</div> -->
	<p>Terminal Pixel is a proudly Scottish small web design and development studio. I take my work seriously but there's no reason it can't be a fun experience</p>
	<p>I try not to over complicate things and I know how to make websites.</p>
</div>
<div class="info-text">
	<h2>Futureproof</h2>
	<!-- <div class="big-icon">
		<span>b</span>
	</div> -->
	<p>I build for the future, not for the past. To adhere to this every website I make works on mobile phones, tablets and all other devices imaginable. It's not an added extra to get overcharged for; it's a basic requirement of a modern website.</p>
</div>
<div class="info-text">
	<h2>Friendly</h2>
	<!-- <div class="big-icon">
		<span>c</span>
	</div> -->
	<p>I pride ourselves in being helpful and friendly. I don't over complicate things with massive amounts jargon and 200 page contracts.</p>
	<p>I make websites. Nothing more. Nothing less.</p>
</div>