---
title: Terminal Pixel // Proudly Scottish Web Design
---

<div class="tagline">
	<span class="i-make">I Make</span>
	<span class="websites">Websites</span>
</div>
<div class="info-text">
	<h2>Fun</h2>
	<!-- <div class="big-icon">
		<span>a</span>
	</div> -->
	<p>Terminal Pixel is a proudly Scottish small web design and development studio. We take our work seriously but there's no reason it can't be a fun experience</p>
	<p>We try not to over complicate things and we know how to make websites.</p>
</div>
<div class="info-text">
	<h2>Futureproof</h2>
	<!-- <div class="big-icon">
		<span>b</span>
	</div> -->
	<p>We build for the future, not for the past. To adhere to this every website we make works on mobile phones, tablets and all other devices imaginable. It's not an added extra to get overcharged for; it's a basic requirement of a modern website.</p>
</div>
<div class="info-text">
	<h2>Friendly</h2>
	<!-- <div class="big-icon">
		<span>c</span>
	</div> -->
	<p>We pride ourselves in being helpful and friendly. We don't over complicate things with massive amounts jargon and 200 page contracts.</p>
	<p>We make websites. Nothing more. Nothing less.</p>
</div>