---
title: Terminal Pixel // Proudly Scottish Freelance Web Developer
---

<div class="intro-section">
	<div class="sexy-man">
		<img src="img/grant-richmond-square.gif" alt="Grant Richmond">
	</div>

	<div class="tagline">
		<span class="im">I'm</span>
		<span class="grant">Grant</span>
		<span class="richmond">Richmond</span>
		<span class="and-i-make-websites">And I Make Websites</span>
	</div>
</div>
<div class="info-text">
	<h2>Fun</h2>
	<!-- <div class="big-icon">
		<span>a</span>
	</div> -->
	<p>I am a proudly Scottish freelance web designer and developer. I take my work seriously but there's no reason it can't be a fun experience</p>
	<p>I try not to over complicate things and I know how to make websites.</p>
</div>
<div class="info-text">
	<h2>Futureproof</h2>
	<!-- <div class="big-icon">
		<span>b</span>
	</div> -->
	<p>I build for the future, not for the past. To adhere to this every website I make works on mobile phones, tablets and all other devices imaginable. It's not an added extra to get overcharged for; it's a basic requirement of a modern website.</p>
</div>
<div class="info-text">
	<h2>Friendly</h2>
	<!-- <div class="big-icon">
		<span>c</span>
	</div> -->
	<p>I pride myself in being helpful and friendly. I don't over complicate things with massive amounts jargon and 200 page contracts.</p>
	<p>I make websites. Nothing more. Nothing less.</p>
</div>