---
title: Say Hello // Terminal Pixel
---

<form action="/email.php" method="post" class="contact-form">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="subject">Subject</label>
    <input type="text" name="subject" id="subject" required>

    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>
    <button type="submit">Send!</button>
</form>